{?images}
<div class="item{?active} active{/active}">
    <a href="{links.web.href}">
        {#images}
        <img src="{url}" alt="{caption}" />
        {/images}
    </a>
    <div class="carousel-caption">
        <h4>{title}</h4>
    </div>
</div>
{/images}