<div class="item">
    <a href="{links.web.href}">
        <img src="{images[0].url}" alt="{images[0].caption}" />
    </a>
    <div class="carousel-caption">
        <h4>{title}</h4>
    </div>
</div>