{>frame/}
{<scripts}
<script type="text/javascript" src="public/templates/carouselItem.js"></script>
<script type="text/javascript" src="public/templates/carousel.js"></script>
<script type="text/javascript" src="public/javascripts/headlines.js"></script>
{/scripts}
{<title}Headlines{/title}
{<lead}
<h1>Headlines</h1>
<p class='lead'>Samples of how you could use the Headlines API for various components.</p>
{/lead}
{<content}
{>carousel/}
{/content}