{>frame/}
{<title}Headlines{/title}
{<lead}
<h1>Headlines</h1>
<p class='lead'>Samples of how you could use the Headlines API for various components.</p>
{/lead}
{<content}
<h2>This is where the carousel goes.</h2>
<table id="collections">
    <tr>
        <th>Delay</th>
        <th>Allows rendering on</th>
        <th>Actually rendered</th>
    </tr>
    {#collection}
    {#renderIfReady/}
    {/collection}
</table>
{/content}